<%layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/stylesheets/stars.css">


 
<div class="row">
    <div class="col-6 ">
        <div class="card" >
            <img src="<%=spot.image%>"card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%=spot.title %></h5>
              <p class="card-text"><%=spot.description %></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-muted"><%=spot.location %></li>
              <li class="list-group-item">Spot added by <%=spot.author.username%></li>
              <li class="list-group-item">₹ <%=spot.price %>/night</li>
              <li class="list-group-item"><%=spot.geometry.coodinates%></li>
            </ul>
            <div class="card-body">
                <a class="card-link btn btn-info" href="/spots/<%=spot._id%>/edit">Edit this Spot</a>
                <form class="d-inline" action="/spots/<%=spot._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">DELETE</button>
                </form>
            </div>
        </div>
    </div>


    <div class="col-6 ">
      <div id='map' style='width: 600px; height: 300px;'></div>
      
          <h2>Leave a Review</h2>
          <form class="mb-3 needs-validation" action="/spots/<%=spot._id%>/reviews" method="POST" novalidate>
            <!-- <div class="mb-3">
                <label class="form-label" for="rating">Rating</label>
                <input type="range" min="1" max="5" name="review[rating]" id="rating">
            </div> -->
            <div class="mb-3">
            <fieldset class="starability-growRotate">
                <legend>Rating:</legend>
                <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                <label for="first-rate1" title="Terrible">1 star</label>
                <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                <label for="first-rate2" title="Not good">2 stars</label>
                <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                <label for="first-rate3" title="Average">3 stars</label>
                <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                <label for="first-rate4" title="Very good">4 stars</label>
                <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                <label for="first-rate5" title="Amazing">5 stars</label>
              </fieldset>
            </div>
            <div class="mb-3">
                <label class="form-label" for="body">Review</label>
                <textarea class="form-control" name="review[body]" id="" cols="30" rows="3" required></textarea>
            </div>
            <button class="btn btn-success">Submit</button>
          </form>

          <%for(let review of spot.reviews){%>

            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title"><%=review.author.username%></h5>
                    <p class="starability-result" data-rating="<%=review.rating%>">
                        Rated: <%=review.rating%> stars
                    </p>
                    <!-- <h6 class="card-subtitle mb-2 text-muted">By <%=review.author.username%></h6> -->
                    <p class="card-text">Review: <%=review.body %></p>

                    <form action="/spots/<%=spot._id %>/reviews/<%=review._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-sm btn-danger">DELETE</button>
                    </form>
                  </div>
            </div>
          <%}%>

    </div>
</div>


    
    
    <!-- <script>
      const mapToken='pk.eyJ1Ijoia25pZ2h0YzBkZXIwMDEiLCJhIjoiY2xrOXl5MzczMDJjODNrcWQxZXNteGhvbiJ9.ArZj2XloX_7m4NTtK0y4jQ';
      const spot= <%-JSON.stringify(spot)%>;
    </script> 
 -->

<script>
  // TO MAKE THE MAP APPEAR YOU MUST
// ADD YOUR ACCESS TOKEN FROM
// https://account.mapbox.com
//const spot= '<%-JSON.stringify(spot)%>'
mapboxgl.accessToken = 'pk.eyJ1Ijoia25pZ2h0YzBkZXIwMDEiLCJhIjoiY2xrOXl5MzczMDJjODNrcWQxZXNteGhvbiJ9.ArZj2XloX_7m4NTtK0y4jQ';
const map = new mapboxgl.Map({
    container: 'map', // container ID
    style: 'mapbox://styles/mapbox/streets-v12', //  style URL
    center: [74.19552, 30.144533],//spot.geometry.coorinates, // starting position [lng, lat]
    zoom: 8, // starting zoom
});

map.addControl(new mapboxgl.NavigationControl());

new mapboxgl.Marker()
    .setLngLat([74.19552, 30.144533])//spot.geometry.coorinates)
    .setPopup(
        new mapboxgl.Popup({offset:25})
        .setHTML(
            `<h3>${spot.title}</h3><p>${spot.location}</p>`
        )
    )
    .addTo(map)
</script>
    <!-- <script src="/javascripts/showPageMap.js"></script> -->