<%layout('layouts/boilerplate')%>


<div class="row">
    <div class="col-6 offset-3">
        <div class="card" >
            <img src="<%=spot.image%>"card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%=spot.title %></h5>
              <p class="card-text"><%=spot.description %></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-muted"><%=spot.location %></li>
              <li class="list-group-item"><%=spot.price %>/night</li>
            </ul>
            <div class="card-body">
                <a class="card-link btn btn-info" href="/spots/<%=spot._id%>/edit">Edit this Spot</a>
                <form class="d-inline" action="/spots/<%=spot._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">DELETE</button>
                </form>
            </div>
          </div>
    </div>
</div>


    
    <footer>
        
        <a href="/spots">ALL SPOTS</a>
    </footer>
